.cart--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cart--container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    background-color: white;
    color: var(--color-slate);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    border-radius: 0.25rem;
    flex-direction: column;
    gap: 1.5rem;
    animation: swipeRight 200ms ease-in-out;
}

@keyframes swipeRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.cart--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    height: 4rem;
    background-color: white;
    color: var(--color-neutral-900);

    @media screen and (width > 768px) {
        height: 5rem;
    }
}

.cart--title {
    font-weight: 400;
}

.cart--clear-btn {
    background-color: white;
    padding: 0.75rem 1.25rem;
    color: var(--color-neutral-500);
    border: 1px solid var(--color-neutral-300);
    border-radius: 5rem;
}

.cart--clear-btn:hover {
    cursor: pointer;
    color: var(--color-neutral-700);
    border: 1px solid var(--color-neutral-500);
    transition: 150ms ease-in-out;
}

.cart--list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    padding-inline: 2rem;
}

.cart-product {
    display: flex;
    width: 100%;
}

.cart-product--image {
    height: 5rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 0.25rem;
    border: 1px solid var(--color-neutral-300);
}

.cart-product--details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    gap: 0.75rem;
}

.cart-product--total {
    padding: 1rem;
    padding-bottom: calc(1rem + 4px);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 500;
}

.cart-product--quantity-details {
    display: flex;
    justify-content: space-between;
}

.cart-product--title {
    flex-grow: 1;
    font-weight: 500;
}

.cart-product--quantity-holder {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.cart-product--increase,
.cart-product--decrease {
    background-color: hsl(0 0% 70%);
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    border-radius: 4px;
    font-weight: 600;
}

.cart-product--increase:hover,
.cart-product--decrease:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.cart--footer {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-neutral-300);
}
